$primary-color: #6C63FF;
$success-color: #42CD75;
$primary-color-shade: #E7F3FF;
$primary-color-shade-two: #B5DAFF;
$aside-left-bgc: #FFFFFF;
$white: #FFFFFF;
//$text-primary: #42526D;
$text-primary: #354764;
$text-secondary: #354764;
$text-tertiary: #42526D;
$body-bgc: #F5F6F7;
$input-bgc: #F5F6F7;
$inactive-color: #8D8D8D;
$default-btn-bgc: #F5F6F7;
$default-btn-color: #262626;
$green-color: #00AF46;
$green-shade-color: #EDFFF4;
$red-color: #DA1E28;
$red-shade-color: #FFF5F6;
$pending-color: #FFA841;