@use "../../assets/scss/colors" as *;

.custom-drop-down-btn {
  width: 40px !important;
  height: 40px;
  background: $default-btn-bgc;
  color: $text-primary;
  font-weight: 600;
  border-color: transparent;

  &:hover {
    background: $default-btn-bgc !important;
    color: $text-primary !important;
    border-color: transparent !important;
  }

}