@use "../../assets/scss/colors" as *;

.custom-default-btn {
  background: $default-btn-bgc;
  color: $default-btn-color;
  padding: 6px 10px;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;

  .btn-title {
    font-weight: 400;
    color: $text-secondary;
    margin-left: -3px;
  }

  &:hover {
    background: $default-btn-bgc !important;
    color: $default-btn-color !important;
    border: none !important;
    opacity: 0.8;
  }

}