@use "../../assets/scss/colors" as *;

.delete-secondary-btn {
  height: 44px;
  background: $white;
  color: $red-color;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  border-radius: 2px;
  border: 1px solid $red-color;

  .ant-btn-icon {
    height: 18px !important;
  }

  &:hover {
    color: $red-color !important;
    border: 1px solid $red-color !important;
  }

}