/**
 * Created by WebStorm.
 * User: Mehedi Hasan
 * Date: 22 Apr 2025
 * Time: 4:29 PM
 * Email: mdmehedihasanroni28@gmail.com
 */

@use "../../assets/scss/colors" as *;

.primary-btn {
  background: $primary-color;
  color: $white;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  border: none;

  &:hover {
    background: $primary-color !important;
    color: $white !important;
  }

}