
@use '../../assets/scss/colors' as *;

.admin-activation-done-content {
  padding: 80px;

  .admin-activation-done-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .admin-activation-done-content-title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
    }
  }
}