@use "../../assets/scss/colors" as *;

.admin-login-qr-code-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
  background-color: $white;

  .login-qr-code-title {
    font-size: 24px;
    font-weight: bold;
    color: $text-primary;
    margin-bottom: 0;
  }

  .admin-login-qr-code-content {
    height: 450px;
    border-radius: 12px;
    //border: 1px solid $gray-one;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;

    .admin-login-qr-code-generated-txt {
      font-size: 20px;
      font-weight: 600;
      margin: 0;

      span {
        color: $primary-color;
      }
    }

    .qr-code {
      text-align: center;
    }

    .admin-login-qr-code-btn-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
    }

  }
}