@use "../../assets/scss/colors" as *;

.login-cover-two {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color-shade;

  .login-cover-two-brand-wrapper {
  }

  .login-cover-hero-wrapper {
  }
}