/**
 * Created by WebStorm.
 * User: Mehedi Hasan
 * Date: 30 Apr 2025
 * Time: 10:49 AM
 * Email: mdmehedihasanroni28@gmail.com
 */

@use "../../assets/scss/colors" as *;

.login-form-layout-one {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;

  .login-form-layout-child-one {
    height: 70%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}