@use "../../assets/scss/colors" as *;

.login-form-layout-two {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;

  .resend-code-button {
    margin: 0;
    padding: 0;
    color: $primary-color;

    &:hover {
      background: transparent !important;
    }

    .medium14 {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .login-form-layout-two-children-one {
    padding: 80px 80px 0 80px;
  }

  .login-form-layout-two-children-two {
    padding: 0 80px 80px 80px;
  }
}