/**
 * Created by WebStorm.
 * User: Mehedi Hasan
 * Date: 28 Apr 2025
 * Time: 10:22 AM
 * Email: mdmehedihasanroni28@gmail.com
 */

@use "../../assets/scss/colors" as *;

.page-content-card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: $white;

  .icon-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 32px;
  }

  .title-wrapper {

    .title {
      font-weight: 500;
      margin: 0;
    }

    .amount {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    }

  }

}