/**
 * Created by WebStorm.
 * User: Mehedi Hasan
 * Date: 30 Apr 2025
 * Time: 3:35 PM
 * Email: mdmehedihasanroni28@gmail.com
 */

@use '../../assets/scss/colors' as *;

.admin-login-done {
  background-color: $white;
}